<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My Goals for 2017</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <script src="https://use.fontawesome.com/4f56a85391.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="page-header">
          <h1>2017 Goal Tracker</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-2">
          <ul class="nav nav-pills nav-stacked">
            <li role="presentation"><a href="{% url 'home' %}">About</a></li>
              <li role="presentation"><a href="{% url 'home' %}">Source on GitHub</a></li>
              <li role="presentation"><a href="https://twitter.com/JosPolfliet">Follow me on Twitter</a></li>

          </ul>
        </div>
        <div class="col-xs-10">
          {% block content %}
          {% endblock content %}
        </div>
    </div>
   </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>


    {% block scripts %}
    {% endblock scripts %}
  </body>
</html>

