{% extends "base.html" %}
{% block content %}
<style>
.plotModal .modal-dialog {
  width: 98%;
  height: 88%;
  padding: 0;
}

.plotModal   .modal-body{
  min-height: 83vh;
}
.plotModal .modal-body > div {
    width: 100%;
    height: 83vh;
}
.container {

    padding: 1em
}

</style>

<div class="row">
    {% for goal in goals %}
        <div class="col-md-4 center container">
            <div class="row">
                 <div class="col-sm-12">
					 	{{  goal.graph_html | safe }}
{#                     <iframe width="100%" height="350" frameborder="0" scrolling="no" src="{{ goal.plot_link }}.embed?link=false"></iframe>#}
                 </div>
            </div>
            <div class="row">

                <div class="col-md-8 col-md-offset-2">
                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#descModal{{ goal.id }}"> <i class="fa fa-question" aria-hidden="true"></i> More info </button>
				</div>


            </div>
        </div>
    {% endfor %}
</div>
<footer>


    {% for goal in goals %}
        <div class="modal fade plotModal" id="descModal{{ goal.id }}" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{ goal.name }}</h4>
              </div>
              <div class="modal-body" id="descDiv{{ goal.id }}">
				  {{  goal.graph_html | safe }}
              </div>
              <div class="modal-footer">
				  {{ goal.description }}

              </div>
            </div>
          </div>
        </div>
    {% endfor %}
  </footer>
{% endblock content %}


{% block scripts %}
<script>
      ( function($) {

	{% for goal in goals %}
		$('#descModal{{ goal.id }}').on('shown.bs.modal', function (e) {
			var myid=$("#descDiv{{ goal.id }} > div > div.plotly-graph-div").attr("id");
		  Plotly.Plots.resize(document.getElementById(myid));
		});
    {% endfor %}

  } ) ( jQuery );
</script>
{% endblock scripts %}
